.login-container
{
    height: 310px;
    width: 280px;
    background: linear-gradient(to bottom,#fff 0%,#f3f3f3 100%);
    border-radius: 10px;
    box-shadow: 0.65em 0.65em 1.75em -0.25em rgba(0,0,0,0.25), 0 0 1px 0 rgba(157,186,165,0.5), 0 2px 0px 0px rgba(157,186,165,0.85);
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

main
{
    display: flex;
    width: 100%;
    height: 100%;
}

.login-form__input
{
    width: 100%;
    height: 2em;
    font-size: 1.065em;
    box-sizing: border-box;
    border-radius: 3px;
    padding: .35em .6875em .35em;
    margin-top: 17px;
    outline: 0;
    border: .075em solid #d4d4d4;
    transition: box-shadow .25s,border-color .25s;
}

.login-form__submit-input
{
    border: none;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    background-image: linear-gradient(to bottom,#f0a800 0%,#e69c00 100%);
    padding: 0.55em 0 0.5em;
    font-size: 1.125em;
    outline: none;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.25), inset -1px -1px 1px 0 rgba(52,35,0,0.2);
    cursor: pointer;
}

.login-form__submit-input:hover
{
    background-image: linear-gradient(to bottom,#ffb916 0%,#f7a903 100%);
}

.login-form__submit-input:active
{
    background-image: linear-gradient(to bottom,#e89900 0%,#d88a00 100%);
}

.login-form__input:hover
{
    border-color: #ffe44d;
}

.login-form__input:focus
{
    border: .15em solid #ffd21c;
    box-shadow: 0 0 1em 0.1em rgba(255,222,39,0.25);
}